:root {
	--neutral-color-1: #fff;
	--neutral-color-2: #9698c3;
	--neutral-color-3: #5a5e9a;
	--neutral-color-4: #003;

	--primary-color-1: #1e59ff;
	--primary-color-2: #003dff;
	--primary-color-2-alpha-0: rgb(0 61 255 / 0);
	--primary-color-3: #022eb9;
	--primary-color-4: #042077;

	--secondary-color-cyan-1: #0db7eb;

	--secondary-color-pink-1: #e90a96;

	--secondary-color-yellow-1: #ceff00;
}
